@model UnibenWeb.Application.ViewModels.PessoaVM

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/bundles/Content/DataTables")
@Scripts.Render("~/bundles/scripts/DataTables")

<h2>Details</h2>

<div>
    <h4>PessoaVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Nome)        </dt>
        <dd> @Html.DisplayFor(model => model.Nome)        </dd>
        <dt> @Html.DisplayNameFor(model => model.CPF_CNPJ)        </dt>
        <dd> @Html.DisplayFor(model => model.CPF_CNPJ)        </dd>
        <dt> @Html.DisplayNameFor(model => model.DataNascimento)        </dt>
        <dd> @Html.DisplayFor(model => model.DataNascimento)        </dd>
        <dt> @Html.DisplayNameFor(model => model.Ativo)        </dt>
        <dd> @Html.DisplayFor(model => model.Ativo)        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PessoaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="container">
    <h2>Endereços</h2>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Company name</th>
                <th>Address</th>
                <th>Town</th>
                <th>Funções</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@section scripts {

    <script>
        $(document)
            .ready(function () {
                /*
                $("li")
                    .click(function() {
                        $(this).hide();

                    });


                    $('#dtGroups').dataTable({
            "oLanguage": {
                "sZeroRecords": "No records to display",
                "sSearch": "Search "
            },
            "aLengthMenu": [[25, 50, 100, 150, 250, 500, -1], [25, 50, 100, 150, 250, 500, "All"]],
            "iDisplayLength": 25,
            "bSortClasses": false,
            "bStateSave": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bServerSide": true,
            "bDestroy": true,
            "bJQueryUI": false,
            "sAjaxSource": "<%= ResolveUrl("~/Handler/GetData") %>",
            "sPaginationType": "full_numbers",
            "bDeferRender": true,
            "fnServerParams": function (aoData) {

            },
            "aoColumnDefs": [
                {
                    "bVisible": false,
                    "aTargets": [0]

                },
                {
                    "aTargets": [1],
                    "mData": null,
                    "mRender": function (data, type, row) {
                        var enc = encodeURI(row[1]);
                        return "<a href='SomePage.aspx?qs="+enc+"'>" + row[1] + "</a>";
                    }

                }
            ],
            "fnServerData": function (sSource, aoData, fnCallback) {
                var jsonAOData = JSON.stringify(aoData);
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "POST",
                    "url": sSource,
                    "data": "{ jsonAOData : '" + jsonAOData + "' }",
                    "success":
                                function (result) {
                                    var json = jQuery.parseJSON(result.d);
                                    console.log(json);
                                    fnCallback(JSON.parse(result.d))
                                },
                    "error":
                        function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(XMLHttpRequest + ": Error: " + XMLHttpRequest.responseText + ", " + textStatus + ": " + errorThrown);
                        }
                });
            }
    });

                    */
                var oTable = $('#myDataTable')
                    .dataTable({
                        "iDisplayLength": 25,
                        "bSortClasses": false,
                        "bStateSave": false,
                        "bPaginate": true,
                        "bAutoWidth": false,
                        "bDestroy": true,
                        "autoFill": true,
                        "responsive": true,
                        "colReorder": true,
                        "dom": 'Bfrtip',
                        "buttons": {
                            buttons: ['copy', 'csv', 'excel']
                        },
                        "bJQueryUI": false,
                        "bServerSide": true,
                        "sAjaxSource": "@Url.Action("AjaxHandler", "Pessoas", routeValues: new {Area = ""})",
                        "bProcessing": true,
                        "aoColumns": [
                            {
                                "sName": "ID",
                                "bSearchable": false,
                                "bSortable": false
                            },
                            { "sName": "COMPANY_NAME" },
                            { "sName": "ADDRESS" },
                            { "sName": "TOWN" },
                        ],

                        "columnDefs": [{
                            "targets": 4,
                            "data": "download_link",
                            "render": function (data, type, full, meta) {
                                var ix = meta.row;
                                //return "Row number is " + ix;
                                return '<a href="' + data + '"><i class="fa fa-gears" data-toggle = "tooltip" title="Opções" ></i></a>';
                            }
                        }]

                    });
            });
    </script>
}