@model IEnumerable<UnibenWeb.Application.ViewModels.PagarContaVm>
@*model UnibenWeb.Application.ViewModels.PagarContaVm*@


@{
    ViewBag.Title = "DetalhesContaParcelamento";
}

<h2>Detalhes da Conta</h2>
@*
    <div>
        <h4>PessoaVM</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt> @Html.DisplayNameFor(model => model.Descricao)    </dt>
            <dd> @Html.DisplayFor(model => model.Descricao)    </dd>
            <dt> @Html.DisplayNameFor(model => model.Observacao)        </dt>
            <dd> @Html.DisplayFor(model => model.Observacao)        </dd>
            <dt> @Html.DisplayNameFor(model => model.NumeroParcelas)        </dt>
            <dd> @Html.DisplayFor(model => model.NumeroParcelas)        </dd>
            <dt> @Html.DisplayNameFor(model => model.ValorTotal)        </dt>
            <dd> @Html.DisplayFor(model => model.ValorTotal)        </dd>
            <dt> @Html.DisplayNameFor(model => model.Status)        </dt>
            <dd> @Html.DisplayFor(model => model.Status)        </dd>
        </dl>
    </div>
*@

<h2>Parcelas</h2>

<table id="DataTable" class="table">
    <thead data-toggle="tooltip" title="Pressione SHIFT para filtrar mais de uma coluna">
        <tr>
            <th>
                PagarContaParcelaId
            </th>
            <th>
                Descricao
            </th>
            <th>
                Observacao
            </th>
            <th>
                DataVencimento
            </th>
            <th>
                DataPagamento
            </th>
            <th>
                ValorParcela
            </th>
            <th>
                Juros
            </th>
            <th>
                Desconto
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
    </thead>
</table>

@* ======================= *@
@* =  MODAL DE DETALHES  = *@
@* ======================= *@

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Destalhar Conta a Pagar</h4>
            </div>
            <div class="modal-body" id='detailModalContent'>
                @*Conteudo da PartialView*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@* ======================= *@
@* =   MODAL DE EDIÇÃO   = *@
@* ======================= *@

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Editar Conta a Pagar</h4>
            </div>
            <div class="modal-body" id='editModalContent'>
                @*Conteudo da PartialView*@
            </div>
        </div>
    </div>
</div>

@* ========================= *@
@* =   MODAL DE EXCLUSÃO   = *@
@* ========================= *@

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">Excluir Conta a Pagar</h2>
            </div>
            <div class="modal-body" id='deleteModalContent'>
                @*Conteudo da PartialView*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>




@Scripts.Render("~/js/datatables")
@Scripts.Render("~/js/select2")
@Styles.Render("~/css/select2")


@section scripts {
    <script>
        $(document)
            .ready(function () {
                var oTable = $('#DataTable')
                    .DataTable({
                        "iDisplayLength": 25,
                        "bSortClasses": false,
                        "bStateSave": false,
                        "bPaginate": true,
                        "bAutoWidth": false,
                        "bDestroy": true,
                        "autoFill": true,
                        "responsive": true,
                        //"dom": 'Bfrtip',
                        "dom": '<"top">lrft<"bottom"Bip><"clear">',
                        "buttons": {
                            buttons: ['copy', 'csv', 'excel']
                        },
                        "colReorder": true,
                        "oLanguage": { "sSearch": "Procurar:", "sProcessing": "Processando" },
                        "bJQueryUI": false,
                        "bServerSide": true,
                        "sAjaxSource": "@Url.Action("PreencheDataTable_AjaxHandle", "PagarContaParcelas", routeValues: new {Area = ""})",
                        "bProcessing": true,


                        "fnServerData": function (sSource, aoData, fnCallback) {
                            debugger;
                            aoData.push({ "name": "id", "value": @ViewBag.pagarContaId });
                            $.getJSON(sSource, aoData, function (json) { fnCallback(json) });
                        },


                        "columnDefs": [
                            { "sName": "PagarContaParcelaId", "targets": 0, "bSearchable": false, "bSortable": false, "visible": false },
                            { "sName": "Descricao", "targets": 1 },
                            { "sName": "Observacao", "targets": 2 },
                            { "sName": "DataVencimento", "targets": 3 },
                            { "sName": "DataPagamento", "targets": 4 },
                            { "sName": "Desconto", "targets": 5 },
                            { "sName": "Juros", "targets": 6 },
                            { "sName": "ValorParcela", "targets": 7 },
                            {
                                "sName": "Status", "targets": 8, //className: 'select-checkbox',
                                "render": function (data, type, full, meta) {
                                    if (type === 'display') {
                                        if (data == 'true') {
                                            //return "Pago"
                                            return '<input type="checkbox" class="editor-active" value="1" disabled="disabled" checked="checked"> Pago';
                                        } else {
                                            //return "Em Aberto"
                                            return '<input type="checkbox" class="editor-active" value="0" disabled="disabled"> Em Aberto';
                                        }
                                        //return '<input type="checkbox" class="editor-active">';
                                    }
                                    return data;
                                },
                            },
                            {
                                "sName": "NumeroParcelas", "targets": 9, "bSearchable": false, "bSortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a data-toggle="modal" data-target="#detailModal" data-id="' + full[0] + '">' + '<i class="fa fa-binoculars" data-toggle = "tooltip" title="Detalhes" ></i>' + '</a>' // href="' + link_detail + '"
                                    + ' | <a data-toggle="modal" data-target="#editModal" data-id="' + full[0] + '">' + '<i class="fa fa-pencil-square-o" data-toggle = "tooltip" title="Editar" ></i>' + '</a>'
                                    + ' | <a data-toggle="modal" data-target="#deleteModal" data-id="' + full[0] + '">' + '<i class="fa fa-trash" data-toggle = "tooltip" title="Excluir" ></i>' + '</a>'
                                }
                            }
                        ],
                        select: {
                            style: 'os',
                            selector: 'td:last-child', //
                            blurable: true
                        }
                    });



                $('#detailModal').on('show.bs.modal', function (event) {
                    Pace.restart();
                    var button = $(event.relatedTarget);
                    var data_id = button.data('id');
                    var url = '/Administrativo/ContaPagarParcelas/Detalhar?id=' + data_id;
                    $.ajax({
                        url: url,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data) {
                                $(data).appendTo('#detailModal .modal-body');
                            }
                            else {
                                alert("Erro");
                            }
                        }
                    });
                });

                $('#editModal').on('show.bs.modal', function (event) {
                    Pace.restart();
                    var button = $(event.relatedTarget);
                    var data_id = button.data('id');
                    var url = '/Administrativo/ContaPagarParcelas/Editar?id=' + data_id;
                    $.ajax({
                        url: url,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data) {
                                debugger;
                                $(data).appendTo('#editModal .modal-body');
                                $(".select2").select2();
                            }
                            else {
                                alert("Erro");
                            }
                        }
                    });
                });

                $('#deleteModal').on('show.bs.modal', function (event) {
                    Pace.restart();
                    var button = $(event.relatedTarget);
                    var data_id = button.data('id');
                    var url = '/Administrativo/ContaPagarParcelas/Excluir?id=' + data_id;
                    $.ajax({
                        url: url,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data) {
                                $(data).appendTo('#deleteModal .modal-body');
                            }
                            else {
                                alert("Erro");
                            }
                        }
                    });
                });

                $('#detailModal').on('hide.bs.modal', function (event) {
                    $('#detailModal .modal-body').replaceWith('<div class="modal-body" id="detailModalContent"></div>');
                });

                $('#editModal').on('hide.bs.modal', function (event) {
                    $('#editModal .modal-body').replaceWith('<div class="modal-body" id="editModalContent"></div>');
                });

                $('#deleteModal').on('hide.bs.modal', function (event) {
                    $('#deleteModal .modal-body').replaceWith('<div class="modal-body" id="deleteModalContent"></div>');
                });

            });
    </script>
}